@font-face {
  font-family: 'Nexa'; /*a name to be used later*/
  src: url('./assets/fonts/NexaDemo-Light.ttf'); /*URL to font*/
}

body{
  background:#F7F9FB;
  font-family: Nexa;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom styles  */

.default-btn{
  background: #2477BC;
  border-radius: 20px;
  font-family: Nexa;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  padding: 10px 17px;
    border: none;
  }

  .link-btn{
    border: none;
    background: transparent;
    color: #A0A0A0;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    margin-left: 10px;
}

.light-btn{
  border: none;
  background: #DFE6FD;
  border-radius: 5px;
  color: #4F74E4;
  margin-right: 10px;
  padding: 5px 20px;
  font-size: 17px;
}

.text-default{
  color: #808080;
}
.primary-color{
  color:#157AFF !important;
}
.grey-background{
  background: rgba(239, 240, 245, 0.5);
}
.text-small{
  font-family: Nexa;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  color: #808080;
}
.cursor-pointer{
  cursor: pointer;
}